.about {
  display: flex;
  align-items: center;
  background-color: var(--second-bg-color);
  background-image: url("../../assets/images/about.jpeg");
}

.about-content {
  width: 60%;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 2.6rem;
}

p {
  font-size: 2rem;
  margin: 1.5em 0 1.5rem;
}
